.App {
  text-align: center;
}

.hexle {
  margin: 0;
}

.content {
  min-height: 100vh;
  min-width: 100vw;
  font-size: 30px;
  color: white;

  /* Give the text a white border */
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.hashTag {
  margin: 10px;
}

.input {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.15s;

  /* All uppercase and bold */
  text-transform: uppercase;
  font-weight: bold;
}

.input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input:disabled {
  color: white;
}

.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 10px;

  background-color: black;

  /* Drop shadow on the bottom */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.guessRow {
  margin-top: 50px;
  height: calc(7 * 60px + 50px);
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
}

.Exact {
  background-color: #4caf50 !important;
  color: black !important;
}

.Close {
  background-color: #fde24b !important;
  color: black !important;
}

.win {
  margin-bottom: 50px;
}

.winHeader {
  margin: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;

  /* Drop shadow on the top */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.link {
  color: white;
  text-decoration: none;

  font-size: 14pt;
}

.flip {
  animation: flip 0.4s ease 0s 1;
  background-color: rgba(0, 0, 0, 0);
  transform-style: preserve-3d;

  /* All uppercase and bold */
  text-transform: uppercase;
  font-weight: bold;
}

.tutorialModal {
  position: absolute;
  top: 12.5vh;
  left: 25%;
  width: 50vw;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.tutorialModal h1 {
  font-size: 40pt;
}

.tutorialModal p {
  font-size: 20pt;
}

.fadeOut {
  animation: fadeOut 0.5s ease 0s 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tutorialButton {
  margin: 10px;
  font-size: 20pt;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 15px 32px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s;
}

.tutorialButton:hover {
  background-color: white;
  color: black;
}

/* smooth flip animation */
@keyframes flip {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
